body {
    margin: 0;
}

@font-face {
    font-family: 'Porter Sans';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block.otf);

}



/*Poppins - Fonts*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }



/*Hero Section - Home*/
  header {
    height: 100vh;
    background-image: url(../assets/img/Images/homePageHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contactHeader  {
    height: 100%;
    width: 100%;
    background: url(../assets/img/Images/headerbackBack.png) center;
    /* background-image: url(../assets/img/Images/headerbackBack.png); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }


  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }



  /*nav Bar - All Pages*/
  .topNav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 20px;
    margin: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

 }

.topNav img {
    margin-left: 1.5em;
}

 .topNav a {
     float: left;
     color: rgb(133, 133, 133);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 18px;

 }

 .topNavRight {
    display: flex;
    margin-right: 1.5em;
    align-items: center;
    justify-content: center;
    align-content: center;
 }

 .topNav a:hover {
    background-color: #55daeb00;
    color: #55daeb;

 }

 .topNav a.active {
    background-color: #e5172800;
    color: #e51728;
 }

 .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: rgb(36, 36, 36);
    background-color: white;
    border-radius: 12px;
    padding: 2px 4px;
    width: 270px;
    height: 45px;
    margin-right: 1.5em;
 }

 .line {
  border-left: 2px solid #777676ef;
  padding-left: 5px;
  padding: 2px;
 }

 .searchBarContainer {
    display: flex;
    justify-content: flex-end;

 }

 #searchText {
    display: flex;
    color: rgb(72, 72, 72);
    background-color: rgba(255, 255, 255, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 5px 20px;
    justify-content: flex-start;
 }

 .headerContainer {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;

 }

 .headerContainer {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 }



/*RPV Text Hero Section - Home*/
.redPlanetVenturesBottomText {
    font-family: 'Porter Sans';
    position: absolute;
    font-size: 48px;
    bottom:75px;
    left: 5%;
    padding-left: 4%;
    color: #e51728;
    text-align: left;
}

.bottomLeftText {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 10%;
    color: #45016d;
}



/*Header/Hero - Contact*/
.contactHeader {
  height: 70vh;
}

.headerContactContainer {
    position: absolute;
    bottom: 65%;
    left: 20%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
 
}

.contactUsText {
    font-family: 'Porter Sans';
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/*About Us Section - Contact*/
.aboutSection {

}

.aboutUs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    left:30%;
    top: 10%;
    padding: 40px; */
}

/* .contactImage {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 0px;
    padding-left: 8em;
} */

.aboutUs img {
  width: 100%;
  padding: 4em 4em;
  margin: 0;
}

.aboutText {
    color: rgb(173, 173, 173);
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 4% 10%;
    padding-right: 0;
}

#rpvContactText {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0%;
  margin: 0 0;
  margin-bottom: 2%;  
}



/*Social Media - Contact*/
#aboutContactText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 2%;
   
}

.socialMediaDiv {
  margin: 0;
  width: 100%;
  padding: 2% 10%;
}

.socialMediaDiv img {
  padding: 0 3%;
}

#socialMediaSubText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0 3;
}

#socialMediaText {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  padding: 0%;
  margin: 0 0;
}

.socialsImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  padding: 10px 0;
}



/*Google Map - Contact*/
.googleLocation {
  margin: 0;
  width: 100%;
  padding: 2% 10%;
}

#physicalLocationSubText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0 3;
  padding: 0;
}

#physicalLocation {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  padding: 0%;
  margin: 0 0;
}

.googleMap{
  width: 70%;
}

.googleMapCorner {
  border-radius: 20px;
}


/*Footer Section - All Pages*/

.footer {
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4% 0;
}

.logoLeftFooter {
  padding-top: 1em;
}

#footerLogoText {
  color: rgb(102, 102, 102);
  font-family: "Poppins", sans-serif;
  font-size: 500;
  font-weight: 500;
}

#companyFooterText {
  color: rgb(46, 46, 46);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.pagesFooter {
  color: rgb(102, 102, 102);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.pagesFooter p {
  margin-bottom: 0.5em;
}

.pagesFooterLinks {
  padding: 0 2em;
}

#smFooterText {
  color: rgb(46, 46, 46);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.socialMediaContainerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625em 0.938em;
  padding-left: 0;
  width: 50%;
}

.socialMediaFooter {
  padding-left: 2em;
}

.socialMediaFooter img {
  padding: 3%;
}

.horizontalLine {
  background: none;
  border: rgb(173, 173, 173);
}

.allRightsReserved {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100%; */
  padding: 0.625em 0.938em;
  padding-left: 0;
  color: rgb(113, 113, 113);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
}

.allRightsReserved p {
  padding: 0 4%;
}

.tsAndCs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4%;
  color: rgb(113, 113, 113);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 30%;
}

.tsAndCs p{
  padding: 0 1%;
}



/*Featured Trips - Home*/
#carouselExample {
  padding: 4% 0;
}

#featuredTripSubText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 100%;
  padding: 0;
  margin: 0 3;
}

.featuredTripContainer h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 270%;
  font-weight: 600;
  padding: 0%;
  margin: 0 0;
}

.featuredTripContainer p {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;  
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.ftTripSection {
  background-color: #45016d;
  height: fit-content;
}

.bookNowButton {
  width: 270px;
  text-decoration: none;
  height: 70px;
  background-color: #e51728;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.bookNowButton a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding-top: 7%;
}

.bookNowButton a:hover {
  background-color: #55daeb00;
  color:#45016d;
}

.featuredTripContainer img {
  float: left;
  padding: 4% 4%;
}

.leftArrow {
  position: absolute;
  width: 25px;
  left: 8%;
}

.rightArrow {
  position: absolute;
  width: 25px;
  left: 42%;
}

.ftTripsText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 4% 4%;
}

.featuredTripContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/*Our Shuttle - Home*/
.travelShuttlesSection {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#travelShuttlesSubText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0 3;
}

.travelShuttlesText h3 {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-weight: 700;
  padding: 0%;
  margin: 2% 0;
}

.travelShuttlesText p {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(173, 173, 173);  
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 400;
}

.shuttlesImage {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
  /* padding-left: 8em; */
}

.travelShuttlesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  left:30%;
  top: 10%;
  padding: 5%;
}



/*Upcoming Trips - Home*/
.upcomingTripsSection {
  background-color: #45016d;
  height: fit-content;
}

.upcomingTripsText p{
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 140%;
  padding-top: 4%;
  margin: 0 3%;
}

.upcomingTripsText h3{
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 300%;
  font-weight: 600;
  padding: 0%;
  margin: 0 0;
}

.upcomingTripsText {
  justify-content: center;
  text-align: center;
}

.upcomingTripsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

.bookNowButton {
  margin-bottom: 4%;
}

/*Mars Trip Card - Home*/
.marsTripCard p {
  padding: 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 85%;
}

.marsTripCard h3 {
  padding: 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 150%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.marsTripCard img {
 width: 100%;
 padding-top: 15%;
}

.marsTripCard {
  padding: 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bookNowButtonUpcomingTrips {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

/*White Section - Flights*/
.tagsDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tags {
  padding: 0 1%;
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.tagsColon {
  padding: 0 1%;
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-right: 0;
}

.flightsAddButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 7%;
}

.bookNowButton p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding-top: 1%;
  
}

.addToCartButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-right: 10%;
  background-color: #45016d;
  width: 19%;
  height: 100%;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.addToCartButton p{
  color: #fff;
  font-size: 120%;
  padding: 17% 2%;
  margin: 0;
}

.hrLineFlights {
  width: "90%";
  color: #8e8e8e;
}

.marsInfoText {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  padding-bottom: 2%;
}

.marsRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 212, 58);
  width: 40%;
  padding: 2% 0;
}

#customerReviewText {
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 500;
  padding-left: 2%;
  padding: 4%;
  margin: 0;
}

.marsPrices {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 2% 0;
}

.marsPrices h3{
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 110%;
  padding: 0 6%;
  padding-left: 0;
  margin: 0;
}

.marsImage {
  float: left;
  padding: 4% 4%;
  padding-right: 0;
}

.marsSection {
 background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 4% 0;
}

.marsFlightTextContainer {
  width: 40%;
}

.marsFlightTextContainer h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-weight: 600;
  padding: 0%;
  margin: 0 0;
}



/*Purple Section - Flights*/
.tagsDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tags {
  padding: 0 1%;
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.tagsColon {
  padding: 0 1%;
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-right: 0;
}

.flightsAddButtons {
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}

.bookNowButton p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding-top: 7%;
  
}

.neptuneAddToCartButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-right: 40px;
  background-color: #55daeb;
  width: 120px;
  height: 70px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.neptuneAddToCartButton p{
  color: #fff;
  font-size: 120%;
  padding: 17% 2%;
  margin: 0;
}

.hrLineFlights {
  width: "90%";

}

.neptuneInfoText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding-bottom: 2%;
}

.neptuneRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 212, 58);
  width: 40%;
  padding: 2% 0;
}

#customerReviewText {
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-left: 1px solid rgb(173, 173, 173);
  padding-left: 2%;
  padding: 4%;
}

.neptunePrices {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 2% 0;
  color: #55daeb;
}

.neptunePrices h3{
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 110%;
  padding: 0 6%;
  padding-left: 0;
  margin: 0;
}

.neptuneImage {
  float: left;
  padding: 4% 4%;
  padding-right: 0;
}

.neptuneSection {
 background-color: #45016d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
}

.neptuneFlightTextContainer {
  width: 40%;
  padding: 4% 0;
}

.neptuneFlightTextContainer h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 220%;
  padding: 0%;
  margin: 0 0;
}

/*Filter Bar - Flights*/
.filterContainer {
  background-color: #45016d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

/*Right Side Filter Bar - Flights*/
.filterContainer {
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;

}

#purpleText {
  color: #45016d;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  margin: 0;
}

.showFilter {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 400;
}

.showFilter p{
  margin: 0;
}

.showSixDiv {
  background-color: rgba(255, 255, 255, 0.711);
  border-radius: 8px;
  padding: 1% 1%;
  width: 10%;
  color: #45016d;
  font-family: "Poppins", sans-serif;
  padding-left: 3%;
}

.sortByFilter {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 400;
  padding-left: 3%;
}

.sortByFilter p{
  margin: 0;
}

.sortByDefultDiv {
  background-color: rgba(255, 255, 255, 0.711);
  border-radius: 8px;
  padding: 1% 0;
  width: 28%;
  color: #45016d;
  font-family: "Poppins", sans-serif;
  padding-left: 2%;
}

.filterSectorRight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5% 4%;
  width: 25%;
}

/*Left Side Filter Bar - Flights*/
.filterSectorLeft p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 90%;
  margin: 0;
}

.filterSectorLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5% 2%;
  width: 35%;
}



/*Contact Form - Contact*/
#contactForm h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
  padding-left: 8%;
  margin-bottom: 1%;
}

#contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.formInputs {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-left: 3%;
  
}

.formControl label {
  padding-top: 3%;
}

.formControl input{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0%;
  margin-top: 3%;
  border-radius: 12px;
  padding: 5%;
  border: none;
  outline: none;
}

form {
  width: 40%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-right: 14%;
}

.formVertical {
  font-family: "Poppins", sans-serif;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  background: url(../assets/img/Images/formBack.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  margin: 1em;
  width: 100%;
}

.formControl, textarea {
  margin: 5%;
  width: 100%;
  color: #ffffff;
}

#submitButton {
  width: 80%;
  text-decoration: none;
  height: 100%;
  padding: 7% 0;
  background-color: #e51728;
  border-radius: 12px;
}

.submitButtonDiv {
  padding-left: 5%;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  outline: none;
  padding-left: 4%;
}

.formControl textarea {
  resize: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0%;
  margin-top: 3%;
  border-radius: 12px;
  padding: 5%;
}

/*Form & Map/Socials Positioning*/
.contactUsSection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#contact {
  margin-left: 15%;
}

.googleMapAndSocialsContainer {
  margin-left: 7%;
}

/*History - About*/
#aboutMissionSubText {
  color: #55daeb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 2%;
}

#aboutMissionText {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0%;
  margin: 0 0;
  margin-bottom: 2%;
}

.missionText p {
  color: rgb(173, 173, 173);
  font-family: "Poppins", sans-serif;
  font-size: 500;
  font-weight: 500;
}

.missionText {
  padding: 4em 0;
  padding-right: 5em;
}

.missionAboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.missionAboutContainer img {
  width: 100%;
  padding: 4em 7em;
  padding-right: 2em;
}

#aboutMissionText {
  color: #45016d;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0%;
  margin: 0 0;
  margin-bottom: 2%;
}

#aboutHistoryText {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0%;
  margin: 0 0;
  margin-bottom: 2%;
}

.historyText {
  padding: 4em 0;
  padding-left: 5em;
}

.historyText p {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 500;
  font-weight: 500;
}

.historyContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.historyContainer img {
  width: 100%;
  padding: 4em 7em;
  padding-left: 2em;
}

.historySection {
  background-color: #45016d;
}